@import "compass";

// Fixed table header CSS
.ya-fixed-header-wrap {
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;

  &.padded-table table {
    margin-left: 20px;
    padding-right: 40px;
  }
}

.ya-fixed-header-header {
  position: absolute;
  top: 0; left: 0; right: 0;
  z-index: 150;
  @include box-shadow(black 0 10px 10px -10px inset, gainsboro 0 10px 10px -10px);
}

.ya-fixed-header-cell {
  float: left;
  font-size: 12px;
  line-height: 14px;
  color: gainsboro;
  @include text-shadow(0 -1px 0 darken(#222, 20%));
}